!!! 5
%html
  %head
    %title Roossbook
    = csrf_meta_tags
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css", type:"text/css"} 
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css", type:"text/css"}
    %link{rel:"stylesheet", href:"https://fonts.googleapis.com/icon?family=Material+Icons"}
    %link{rel:"stylesheet", href:"https://code.getmdl.io/1.1.3/material.teal-pink.min.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{defer:true, src:"https://code.getmdl.io/1.1.3/material.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p{style:"#{'display: none;' if alert.nil? && notice.nil?}"}
      = notice
      = alert
    = yield